{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | {{ wrestler.name }} {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>{{ wrestler.name }}</h1>
        <p class="small">{{ wrestler.gender }}</p>
        <p class="small">{{ wrestler.age }} Years Old</p>
        <p class="small">{{ wrestler.height }}"</p>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-12">
        <p>Strengh: {{ wrestler.strengh }}</p>
    </div>
    <div class="col-md-2 col-12">
        <p>Dexterity: {{ wrestler.dex }}</p>
    </div>
    <div class="col-md-2 col-12">
        <p>Heart: {{ wrestler.heart }}</p>
    </div>
    <div class="col-md-2 col-12">
        <p>Speed: {{ wrestler.speed }}</p>
    </div>
    <div class="col-md-2 col-12">
        <p>Striking: {{ wrestler.striking }}</p>
    </div>
    <div class="col-md-2 col-12">
        <p>Grappling: {{ wrestler.grappling }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4>Moves:</h4>
        <ul class="wrestler-move-list">
            {% for m in wrestler.moves.all %}
            <a href="{% url 'single_move' m.id %}" class="wrestler-single-move">
                <li>- {{ m.name }}
                </li>
            </a>{% endfor %}
        </ul>
    </div>
</div>

{% endblock %}