{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} | {{ match.name }} {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>{{ match.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h4>Fighters:</h4>
        <ul class="wrestler-move-list">
            {% for f in match.fighters.all %}
            <a href="{% url 'single_wrestler' f.id %}" class="wrestler-single-move">
                <li>- {{ f.name }}
                </li>
            </a>
            <p>Heart: {{ f.heart }}</p>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}