{% extends 'base.html' %} {% load static %} {% block page_title %} | World Index {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>World Index</h1>
            <hr>
            <a href="{% url 'promotions' %}" role="button" class="btn btn-warning" aria-disabled="false">Promotions</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-12">
        <div class="row text-center">
            <div class="col-12">
                <h2>Wrestlers: </h2>
                <a href="{% url 'add_wrestler' %}" role="button" class="btn btn-warning" aria-disabled="false">Add Wrester</a>
            </div>
        </div>
        <hr> {% for w in wrestlers %}
        <p class="world-list"><a href="{% url 'single_wrestler' w.id %}" class="world-list-name">{{ w.name }} </a> - <a href="{% url 'edit_wrestler' w.id %}" class="world-list-edit"><i class="far fa-edit"> - Edit Stats</i></a> -
            <a href="{% url 'delete_wrestler' w.id %}" class="world-list-delete" onclick="return confirm('Are you sure you to delete {{ w.name }}?');"><i class="fas fa-dumpster-fire"></i></a>
        </p>
        {% endfor %}
    </div>
    <div class="col-md-6 col-12">
        <div class="row text-center">
            <div class="col-12">
                <h2>Moves: </h2>
                <a href="{% url 'add_move' %}" role="button" class="btn btn-warning" aria-disabled="false">Add Move</a>
            </div>
        </div>
        <hr> {% for m in moves %}
        <p class="world-list"><a href="{% url 'single_move' m.id %}" class="world-list-name">{{ m.name }} </a>- <a href="{% url 'edit_move' m.id %}" class="world-list-edit"><i class="far fa-edit"> - Edit Move</i></a> -
            <a href="{% url 'delete_move' m.id %}" class="world-list-delete" onclick="return confirm('Are you sure you to delete {{ m.name }}?');"><i class="fas fa-dumpster-fire"></i></a>
        </p>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <h2>Matches:</h2>
        <a href="{% url 'add_match' %}" role="button" class="btn btn-warning" aria-disabled="false">Add Match</a>
    </div>
    <div class="col-12">
        {% for m in matches %}
        <p class="world-list"><a href="{% url 'view_match' m.id %}" class="world-list-name">{{ m.name }} </a> - <a href="{% url 'delete_match' m.id %}" class="world-list-delete" onclick="return confirm('Are you sure you to delete {{ m.name }}?');"><i class="fas fa-dumpster-fire"></i></a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}